@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-style: italic;
  font-size: 138px;
  text-transform: uppercase;
  color: #2C2C2C;
}

h2 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-style: italic;
  font-size: 80px;
  line-height: 92px;
  text-transform: uppercase;
  color: #2C2C2C;
}

h3 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-style: italic;
  font-size: 42px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #2C2C2C;
}

h4 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-style: italic;
  font-size: 32px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #2C2C2C;
}

nav ul li a {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 1px;
  color: #2C2C2C;
}

button {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 1px;
  color: #2C2C2C;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: regular;
  font-size: 20px;
  line-height: 32px;
  color: #2C2C2C;
}

body {
  width: 100%;
}

.contactHeader {
  background-image: url(../../captured-final-assets/contact-header.jpg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  height: 80vh;
}
.contactHeader h2 {
  text-align: center;
  padding-top: 80px;
}

.greenBackground {
  background-color: #EFFDF3;
}

.contactInfo {
  width: 400px;
  position: relative;
  left: 5%;
  padding-top: 5%;
  margin-bottom: -5%;
}
.contactInfo h4 {
  margin: 10px 0 25px 0;
}

.icon {
  font-size: 30px;
  padding: 10px;
}

.contactForm {
  height: 25vh;
  position: relative;
}
.contactForm .contactFormContainer {
  position: absolute;
  width: 65%;
  height: 65vh;
  bottom: 16vh;
  left: 59vh;
}
.contactForm .contactFormContainer .formWrapper {
  background-color: #FDFA69;
  width: 80%;
  height: 100%;
}
.contactForm .contactFormContainer form {
  background-color: #FAFAFA;
  position: absolute;
  bottom: 4vh;
  left: 5vh;
  width: 80%;
  padding: 40px 20px 20px 20px;
  text-align: center;
}
.contactForm .contactFormContainer form span {
  margin: 40px 20px;
}
.contactForm .contactFormContainer form span input {
  width: 43.5%;
  padding: 5px;
  border-bottom: #4CEEA7 3px solid;
  border-top: none;
  border-right: none;
  border-left: none;
  background-color: #ffffff00;
}
.contactForm .contactFormContainer form div {
  margin: 20px;
  text-align: center;
}
.contactForm .contactFormContainer form div #submit {
  width: 100%;
  padding: 5px;
  margin-bottom: 20px;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 32px;
  text-transform: uppercase;
  background-color: #4CEEA7;
  border: none;
}
.contactForm .contactFormContainer form div #message {
  margin: 35px auto;
  padding: 10px;
  border: #4CEEA7 3px solid;
  background-color: #ffffff00;
  width: 100%;
}

footer {
  background-color: #2C2C2C;
}
footer p {
  padding: 10px;
  color: #e6e6e6;
  text-align: center;
  margin: 0;
}

@media only screen and (max-width: 2000px) {
  .contactForm .contactFormContainer {
    height: 58vh;
    bottom: 16vh;
    left: 65vh;
  }
}
@media only screen and (max-width: 1350px) {
  .contactForm .contactFormContainer {
    left: 50vh;
  }
  .contactForm .contactFormContainer form span input {
    width: 33%;
  }
}
@media only screen and (max-width: 980px) {
  .greenBackground {
    height: 110vh;
  }

  .contactInfo {
    width: 100%;
    position: static;
    text-align: center;
  }

  .contactForm {
    position: static;
  }
  .contactForm .contactFormContainer {
    display: block;
    position: static;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: 10vh;
  }
  .contactForm .contactFormContainer .formWrapper {
    display: none;
  }
  .contactForm .contactFormContainer form {
    position: static;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .contactForm .contactFormContainer form span input {
    width: 44%;
  }
}
@media only screen and (max-width: 760px) {
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav ul li {
    list-style: none;
    margin: 20px 0;
    text-align: center;
  }
  nav ul li a {
    text-decoration: none;
    color: #2C2C2C;
    text-transform: uppercase;
    border-bottom: #4CEEA700 3px solid;
  }
  nav ul li a:hover {
    border-bottom: #4CEEA7 3px solid;
  }

  .contactHeader h2 {
    padding-top: 0;
  }

  .contactForm .contactFormContainer form span input {
    width: 35%;
  }
}
body {
  background-color: #EFFDF3;
}

header {
  background-image: url(../../captured-final-assets/blog-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 60vh;
}
header h2 {
  text-align: center;
}

.responsiveFlexContainer .rightSectionBlog {
  float: right;
  width: 60%;
}
.responsiveFlexContainer .rightSectionBlog .blogTextBorder {
  border-left: #FDFA69 3px solid;
  border-bottom: #FDFA69 3px solid;
  position: relative;
}
.responsiveFlexContainer .rightSectionBlog .blogTextBorder .photoWrapperBlog {
  background-color: #FDFA69;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  bottom: 23vh;
  right: 3px;
  width: 97%;
}
.responsiveFlexContainer .rightSectionBlog .blogTextBorder .photoWrapperBlog img {
  position: relative;
  bottom: 4vh;
  left: 5vh;
  width: 100%;
}
.responsiveFlexContainer .rightSectionBlog .blogTextContainer {
  margin-right: 20%;
  margin-top: -15%;
  margin-left: 6%;
}
.responsiveFlexContainer .rightSectionBlog .blogTextContainer h3 {
  margin-bottom: 0;
}
.responsiveFlexContainer .rightSectionBlog .blogTextContainer p {
  margin-bottom: 40px;
  margin-top: 0;
}

aside {
  position: relative;
}
aside img {
  margin-top: 8%;
  width: 32%;
  position: relative;
  z-index: 10;
}
aside .asideWrapper {
  background-color: #FAFAFA;
  width: 28%;
  padding-top: 53vh;
  padding-bottom: 3vh;
  position: absolute;
  bottom: 10vh;
  left: 12vh;
}
aside .asideWrapper .textWrapper {
  margin: 0 10% 0 5%;
}
aside .asideWrapper .textWrapper p a {
  text-decoration: none;
  font-weight: bold;
  font-style: italic;
  color: #2C2C2C;
}
aside .asideWrapper ul {
  list-style: none;
}
aside .asideWrapper ul li {
  font-family: "Roboto", sans-serif;
  font-weight: regular;
  font-size: 20px;
  line-height: 32px;
  color: #2C2C2C;
}
aside .asideWrapper ul li::before {
  content: "•";
  color: #4CEEA7;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.comments {
  padding-left: 2%;
}
.comments .comment1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.comments .comment1 .commentTextWrapper {
  margin-left: 3%;
  margin-right: 12%;
}
.comments .comment1 .commentTextWrapper .commentDate {
  margin-top: 0;
}
.comments .comment2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 8vh;
  margin-bottom: 5vh;
}
.comments .comment2 .commentTextWrapper {
  margin-left: 3%;
  margin-right: 12%;
}
.comments .comment2 .commentTextWrapper .commentDate {
  margin-top: 0;
}

.commentForm {
  height: 50vh;
  position: relative;
}
.commentForm form {
  background-color: #FAFAFA00;
  position: relative;
  right: 3vh;
  width: 95%;
  padding: 40px 20px 20px 0;
  text-align: center;
}
.commentForm form span {
  margin: 40px 20px;
}
.commentForm form span input {
  width: 50%;
  padding: 5px;
  border-bottom: #4CEEA7 3px solid;
  border-top: none;
  border-right: none;
  border-left: none;
  background-color: #ffffff00;
}
.commentForm form div {
  margin: 20px;
  text-align: center;
}
.commentForm form div #submit {
  width: 100%;
  padding: 5px;
  margin-bottom: 20px;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 32px;
  text-transform: uppercase;
  background-color: #4CEEA7;
  border: none;
}
.commentForm form div #comment {
  margin: 35px auto;
  padding: 10px;
  border: #4CEEA7 3px solid;
  background-color: #ffffff00;
  width: 100%;
}

@media only screen and (max-width: 1800px) {
  .commentForm form span input {
    width: 43.5%;
  }
}
@media only screen and (max-width: 1500px) {
  aside .asideWrapper {
    bottom: 25vh;
    padding-top: 43vh;
  }
}
@media only screen and (max-width: 1350px) {
  aside .asideWrapper {
    bottom: 43vh;
    padding-top: 38vh;
  }
}
@media only screen and (max-width: 1250px) {
  aside {
    position: relative;
  }
  aside img {
    width: 35%;
  }
  aside .asideWrapper {
    width: 35%;
    padding-top: 2vh;
    padding-bottom: 3vh;
    position: relative;
    bottom: 0;
    left: 0;
  }
  aside .asideWrapper .textWrapper {
    margin-left: 6%;
    margin-right: 6%;
  }

  .commentForm form span input {
    width: 40%;
  }
}
@media only screen and (max-width: 980px) {
  .responsiveFlexContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .responsiveFlexContainer .rightSectionBlog {
    float: none;
    width: 100%;
  }
  .responsiveFlexContainer .rightSectionBlog .photoWrapperBlog {
    position: relative;
    top: 1vh;
    bottom: 0;
    right: 0;
  }
  .responsiveFlexContainer .rightSectionBlog .photoWrapperBlog img {
    bottom: 4vh;
    left: 4vh;
  }
  .responsiveFlexContainer .rightSectionBlog .blogTextContainer {
    margin-top: 5%;
  }
  .responsiveFlexContainer aside {
    position: relative;
  }
  .responsiveFlexContainer aside img {
    margin-top: 5%;
    width: 100%;
  }
  .responsiveFlexContainer aside .asideWrapper {
    width: 80%;
    margin: 0 10% 10% 10%;
    padding-top: 5vh;
    padding-bottom: 3vh;
    position: static;
    bottom: 0;
    left: 0;
  }
}
.rightSectionBlog {
  float: none;
  width: 100%;
}
.rightSectionBlog h4 {
  text-align: center;
  margin: 8vh 0;
}

.comments .comment1 {
  margin-left: 3vh;
}
.comments .comment2 {
  margin-left: 3vh;
}

.commentForm {
  height: 70vh;
}
.commentForm form {
  position: static;
  right: 0;
  width: 100%;
}
.commentForm form span input {
  width: 44%;
}

@media only screen and (max-width: 760px) {
  .commentForm form span input {
    width: 42%;
  }
}
@media only screen and (max-width: 580px) {
  .commentForm form span input {
    width: 40%;
  }
}
@media only screen and (max-width: 470px) {
  header {
    height: 80vh;
  }

  .responsiveFlexContainer .rightSectionBlog .photoWrapperBlog img {
    bottom: 1vh;
    left: 1vh;
  }

  .comments {
    padding-left: 0;
  }
  .comments .comment1 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0;
  }
  .comments .comment1 .commentTextWrapper {
    margin-left: 8%;
  }
  .comments .comment1 img {
    margin-bottom: 6%;
    width: 30%;
  }
  .comments .comment2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0;
  }
  .comments .comment2 .commentTextWrapper {
    margin-left: 8%;
  }
  .comments .comment2 img {
    margin-bottom: 6%;
    width: 30%;
  }

  .commentForm form span input {
    width: 37%;
  }
}
nav {
  padding-top: 10px;
  padding-right: 10%;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
nav ul li {
  list-style: none;
  margin: 20px 40px;
}
nav ul li a {
  text-decoration: none;
  color: #2C2C2C;
  text-transform: uppercase;
  border-bottom: #4CEEA700 3px solid;
}
nav ul li a:hover {
  border-bottom: #4CEEA7 3px solid;
}